{:paths ["src/main" "src/test"]

 :deps {reagent/reagent {:mvn/version "1.0.0"}
        re-frame/re-frame {:mvn/version "1.1.2"}
        org.clojure/clojurescript {:mvn/version "1.10.773"}
        superstructor/re-frame-fetch-fx {:mvn/version "0.1.0"}
        thheller/shadow-cljs {:mvn/version "2.11.8"}}

 :aliases {:dev {:extra-paths ["src/test" "src/dev"]}}}
